html {
  background-color: #555;
  color: white;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.container > * {
  padding: 20px;
}

.sidebar {
  border-right: 3px black solid;
  color: lightblue;
}

.sidebar > * {
  border-bottom: 2px #444;
  padding: 1rem;
}

.sidebar > *:hover {
  cursor: pointer;
  color: aqua;
}

.focus {
  color: aqua;
}

table {
  border: 3px white solid
}

td, th {
  border: 2px lightblue solid;
  margin: 3px;
  padding: 5px;
}

pre {
  background-color: #444;
  border: 3px lightblue solid;
  border-radius: 15px;
  padding: 20px;
  width: fit-content;
}